[submodule "survey_on_deep_learning_in_limited_resource_environments/vendors/pytorch-cifar"]
	path = survey_on_deep_learning_in_limited_resource_environments/vendors/pytorch-cifar
	url = https://github.com/kuangliu/pytorch-cifar
