[submodule "survey_on_deep_learning_in_limited_resource_environments/vendors/training"]
	path = survey_on_deep_learning_in_limited_resource_environments/vendors/training
	url = https://github.com/Eye-C-U/pytorch-cifar
